@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #5E9ABF;
}

header{
    padding: 20px;
    background-color: #051026;
}

header > div{
    margin: auto;
    max-width: 500px;
    overflow: hidden;
}

header  img{
    float: left;
    width: 100px;
    margin-right: 15px;
}

header  h1{
    color: white;
    margin-top: 29px;
}

main{
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.445);
}

.html-css,.javascript,.projetos{
    margin: 30px 0px 30px 0px;
    padding: 15px;
    overflow: hidden;
}

.html-css:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.445);
}

.html-css > h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: #344059;
}

.html-css > a{
    display: block;
    text-decoration: none;
    color: #344059;
    font-weight: bold;
    margin-top: 80px;
}

.html-css > a:hover{
    text-decoration: underline;
}

.html-css > img{
    float: left;
    margin-right: 20px;
}

.javascript:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.445);
}

.javascript > img{
    float: left;
    margin-right: 20px;
}

.javascript > h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: #344059;
}

.javascript > a{
    display: block;
    text-decoration: none;
    color: #344059;
    font-weight: bold;
    margin-top: 80px;
}

.javascript > a:hover{
    text-decoration: underline;
}

.projetos:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.445);
}

.projetos > h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: #344059;
}

.projetos > ul{
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
}

.projetos li{
    margin-bottom: 10px;
}

.projetos a{
    text-decoration: none;
    color: #344059;
    font-weight: bold;
}

.projetos a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 50px;
    background-color: #344059;
    padding: 20px;
}

#social{
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

#social > img{
    float: left;
    margin-right: 20px;
}

#social > h3{
    margin-top: 87px;
    margin-bottom: 20px;
    color: white;
}

#social li{
    margin-bottom: 10px;
}

#social  #facebook{
    list-style-image: url('../imagens/Facebook-30.png');
    list-style-position: inside;
}

#social #instagram{
    list-style-image: url('../imagens/Instagram-30.png');
    list-style-position: inside;
}

#social a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#social a:hover{
    text-decoration: underline;
}

@media screen and (max-width:560px) {
    header  img{
        float: none;
        width: 100px;
        margin-right: 0px;
    }    

    header > div{
        text-align: center;
    }

    .html-css{
        text-align: center;
    }

    .html-css > img{
        float: none;
        margin-right: 0px;
    }

    .html-css > a{
        margin-top: 20px;
        text-align: center;
    }

    .javascript{
        text-align: center;
    }

    .javascript > img{
        float: none;
        margin-right: 0px;
    }

    .javascript > a{
        margin-top: 20px;
        text-align: center;
    }

    #social{
        text-align: center;
    }

    #social > img{
        float: none;
        margin-right: 0px;
    }

    #social > h3{
        margin-top: 20px;
    }
}

